---
const { id, name, required=false, class:className, ...props } = Astro.props;
---

<label for={id} class="flex flex-col gap-1">

    <span>
        <slot />
        {required && <small class="text-lime-500 text-lg">*</small>}
    </span>

    <textarea 
        id={id}
        name={name}
        required={required}
        {...props}
        class={`bg-transparent border-gray-800 border px-8 py-3 rounded-lg outline-none ring-2 ring-primary/0 transition-all duration-300 hover:placeholder:text-primary/50 hover:ring-primary/50 focus:ring-primary/70 active:ring-primary/80 ${className}`}
    ></textarea>

</label>